<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectUser" resultType="User">
        select * from user
    </select>
    <!--    注册-->
    <insert id="register" parameterType="User">
        insert into user (user_name,user_password)
        values(#{user_name},#{user_password})
    </insert>

    <select id="findUserName" resultType="boolean">
        select count(user_id)
        from user where user_name = #{username}
    </select>
    <!--  根据用户名查找  -->
    <select id="findUserByUserName" resultType="User">
        select * from user
        where user_name = #{username}
    </select>
    <select id="selectUserById" resultType="User">
        select * from user where user_id=#{title}
    </select>

    <insert id="addUser" parameterType="User">
        insert into user (user_id,user_name,user_email,user_phone,user_gender,user_address)
        values(#{user_id},#{user_name},#{user_email},#{user_phone},#{user_gender},#{user_address})
    </insert>

    <update id="updateUserById" parameterType="User">
        update user set user_id = #{user_id},user_name = #{user_name},
        user_email = #{user_email},user_phone = #{user_phone},
        user_gender = #{user_gender},user_address = #{user_address}
        where user_id = #{user_id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from user where user_id=#{user_id}
    </delete>
</mapper>